# Copy this to .env and fill in your values
# (Vercel pe Environment Variables mein add karo)

BOT_TOKEN=8724448269:AAGfYdcR6u7S9BW3plxiIRm-oV2Tix-zbNQ
FIREBASE_URL=https://cyber-attack-c5414-default-rtdb.firebaseio.com
WEBAPP_URL=https://your-project-name.vercel.app
CRON_SECRET=change_this_to_a_random_secret_string
